- shame   = "HAS NOT YET PLACED ORDERS"
- noshame = "has placed orders"
- dead    = "has been defeated"
%h1 ADMIN PANEL

%h3 Has everyone gone?

%ul 
  - @shame_wall.each do |msg|
    %span{:style => "text-decoration: underline"}= msg[0].nation
    - if msg[1] == :shame
      %strong= shame
    - elsif msg[1] == :noshame
      %span= noshame
    - else
      %span= dead

    - if msg[0].alive
      = link_to "Defeated!", {:controller => "admin", :action => "defeat", :user_id => msg[0].id}


    %br



= link_to "Reset game", config_game_path

= link_to "Progress game", next_round_path, :data => { :confirm => 'Are you sure?' }

