%h1 Listing turns

%table
  %tr
    %th
    %th
    %th
    %th

  - @turns.each do |turn|
    %tr
      %td= turn.id
      %td= link_to 'Show', turn
      %td= link_to 'Edit', edit_turn_path(turn)
      %td= link_to 'Destroy', turn, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Turn', new_turn_path
